input.button {
    background-color: $salmon;
    color: white;
    font-weight: bold;
    margin: 0 auto;
    display: inline-block;
    width: 4rem;
}
button {
  background-color: $verdigris;
  color: white;
  border: none;
  margin-left: 50%;
}
